/* Estilos globales */
* {
  margin: 0;
  padding: 0;
}

.header {
  background: #f3f5fc; /* Fondo del encabezado */
  height: 9vh; /* Altura del encabezado */
}

.header img {
  position: relative; /* Posición relativa para la imagen del encabezado */
  top: 15px; /* Desplazamiento hacia abajo */
}

.container {
  position: relative; /* Posición relativa para el contenedor principal */
  width: 100vw; /* Ancho igual al viewport */
  height: 98vh; /* Altura igual al viewport menos el encabezado */
  background: #f3f5fc; /* Fondo del contenedor principal */
}

.texto {
  position: absolute; /* Posición absoluta para el área de texto */
  width: 42%; /* Ancho del área de texto */
  height: 60%; /* Altura del área de texto */
  left: 12%; /* Distancia desde el borde izquierdo */
  top: 15%; /* Distancia desde el borde superior */
  border: none; /* Sin borde */
  font-family: "Inter"; /* Familia de fuente */
  font-style: normal; /* Estilo de fuente */
  font-weight: 400; /* Peso de la fuente */
  font-size: 32px; /* Tamaño de fuente */
  line-height: 150%; /* Altura de línea */
  background-color: #f3f5fc; /* Color de fondo del área de texto */
}

.texto::placeholder {
  color: #0a3871; /* Color del texto de marcador de posición */
}

.texto:focus,
.texto:active {
  border: none; /* Sin borde al estar enfocado o activo */
  outline: none; /* Sin contorno al estar enfocado o activo */
}

.terminos {
  display: flex; /* Mostrar como flexbox */
  flex-direction: row; /* Dirección de fila */
  align-items: center; /* Centrar elementos verticalmente */
  padding: 0px; /* Relleno cero */
  gap: 8px; /* Espacio entre elementos */
  position: absolute; /* Posición absoluta */
  width: 80%; /* Ancho del elemento */
  left: 12%; /* Distancia desde el borde izquierdo */
  top: 80%; /* Distancia desde el borde superior */
}

.terminos p {
  font-family: "Inter"; /* Familia de fuente */
  font-style: normal; /* Estilo de fuente */
  font-weight: 400; /* Peso de la fuente */
  font-size: 12px; /* Tamaño de fuente */
  line-height: 150%; /* Altura de línea */
  color: #495057; /* Color del texto */
  opacity: 0.8; /* Opacidad del texto */
  flex: none; /* No crecer */
  order: 1; /* Orden de aparición */
  flex-grow: 0; /* No crecer */
}

.botones {
  display: flex; /* Mostrar como flexbox */
  flex-direction: row; /* Dirección de fila */
  align-items: flex-start; /* Alinear elementos al inicio */
  padding: 1% 0; /* Relleno superior e inferior */
  position: absolute; /* Posición absoluta */
  width: 80%; /* Ancho del elemento */
  left: 12%; /* Distancia desde el borde izquierdo */
  top: 82%; /* Distancia desde el borde superior */
}

.btn-encriptar {
  align-items: center; /* Alinear elementos al centro */
  justify-content: center; /* Justificar contenido al centro */
  padding: 2%; /* Relleno */
  gap: 8px; /* Espacio entre elementos */
  width: 25%; /* Ancho del botón */
  background-color: #0a3871; /* Color de fondo */
  border-radius: 24px; /* Radio de borde */
  font-family: "Inter"; /* Familia de fuente */
  font-size: 18px; /* Tamaño de fuente */
  line-height: 19px; /* Altura de línea */
  text-align: center; /* Alineación de texto */
  color: #fff; /* Color del texto */
}

.btn-desencriptar {
  box-sizing: border-box; /* Tamaño de caja incluyendo el borde */
  display: flex; /* Mostrar como flexbox */
  flex-direction: row; /* Dirección de fila */
  align-items: flex-start; /* Alinear elementos al inicio */
  justify-content: center; /* Justificar contenido al centro */
  padding: 2%; /* Relleno */
  gap: 8px; /* Espacio entre elementos */
  width: 25%; /* Ancho del botón */
  background: #d8dfe8; /* Color de fondo */
  border: 1px solid #0a3871; /* Borde sólido */
  border-radius: 24px; /* Radio de borde */
  font-family: "Inter"; /* Familia de fuente */
  font-weight: 400; /* Peso de la fuente */
  font-size: 18px; /* Tamaño de fuente */
  line-height: 19px; /* Altura de línea */
  text-align: center; /* Alineación de texto */
  color: #0a3871; /* Color del texto */
}

.btn-desencriptar:hover,
.btn-encriptar:hover {
  margin: 0.3%; /* Margen */
  width: 24.5%; /* Ancho al hacer hover */
  padding: 1.8%; /* Relleno al hacer hover */
}

.encriptado {
  display: flex; /* Mostrar como flexbox */
  justify-content: center; /* Justificar contenido al centro */
  position: absolute; /* Posición absoluta */
  width: 30%; /* Ancho del elemento */
  height: 90%; /* Altura del elemento */
  left: 60%; /* Distancia desde el borde izquierdo */
  top: 5%; /* Distancia desde el borde superior */
  background: #fff; /* Color de fondo */
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08); /* Sombra */
  border-radius: 32px; /* Radio de borde */
}

.mensaje-encriptado {
  display: flex; /* Mostrar como flexbox */
  flex-direction: column; /* Dirección de columna */
  align-items: center; /* Alinear elementos al centro */
  justify-content: center; /* Justificar contenido al centro */
  padding: 1%; /* Relleno */
  gap: 16px; /* Espacio entre elementos */
  position: absolute; /* Posición absoluta */
  width: 100%; /* Ancho del elemento */
  top: 65%; /* Distancia desde el borde superior */
  text-align: center; /* Alineación de texto */
}

.mensaje-encriptado h2 {
  width: 60%; /* Ancho del título */
  font-family: "Inter"; /* Familia de fuente */
  font-style: normal; /* Estilo de fuente */
  font-weight: 700; /* Peso de la fuente */
  font-size: 24px; /* Tamaño de fuente */
  line-height: 120%; /* Altura de línea */
  text-align: center; /* Alineación de texto */
  color: #343a40; /* Color del texto */
}

.mensaje-encriptado p {
  width: 80%; /* Ancho del párrafo */
  font-family: "Inter"; /* Familia de fuente */
  font-style: normal; /* Estilo de fuente */
  font-weight: 400; /* Peso de la fuente */
  font-size: 16px; /* Tamaño de fuente */
  line-height: 150%; /* Altura de línea */
  text-align: center; /* Alineación de texto */
  color: #495057; /* Color del texto */
}

.encriptado .muñeco-img {
  position: absolute; /* Posición absoluta */
  width: 80%; /* Ancho de la imagen */
  height: 50%; /* Altura de la imagen */
  top: 15%; /* Distancia desde el borde superior */
}

#btn-copiar {
  display: none; /* Inicialmente oculto */
  position: absolute; /* Posición absoluta */
  width: 80%; /* Ancho del botón */
  left: 10%; /* Distancia desde el borde izquierdo */
  bottom: 10%; /* Distancia desde el borde inferior */
  padding: 2%; /* Relleno */
  background-color: #fff; /* Color de fondo */
  border: 1px solid #0a3871; /* Borde sólido */
  border-radius: 24px; /* Radio de borde */
  font-family: "Inter"; /* Familia de fuente */
  font-size: 18px; /* Tamaño de fuente */
  line-height: 19px; /* Altura de línea */
  text-align: center; /* Alineación de texto */
  color: #0A3871; /* Color del texto */
  cursor: pointer; /* Cursor apuntador */
}

#btn-copiar:hover {
  background-color: #fff; /* Color de fondo al hacer hover */
}



